@font-face {
  font-family: 'Poppins';
  src: "./assets/font/Poppins/Poppins-ExtraBold.ttf";
}

@font-face {
  font-family: 'Poppin';
  src: "./assets/font/Poppins/Poppins-Regular.ttf";
}

@font-face {
  font-family: 'Noto';
  src: "./assets/font/Noto_Sans/NotoSans-Regular.ttf";
}

@font-face {
  font-family: 'Patua';
  src: "./assets/font/Patua_One/PatuaOne-Regular.ttf";
}

.nav-top {
  background-color: #423e3b;
}

.content-nav {
  color: #F0F7F4 !important;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14pt;
  margin-right: 5px;
}

.content-nav:hover {
  color: #767b79 !important;
}

.nav-active {
  color: #fea82f !important;
  text-decoration: none;
}

.nav-pills{
  color: #fea82f !important;
}

.footer-text{
  font-family: 'Poppins';
  font-weight: normal;
}

footer {
  position: absolute;
  /* bottom: 0 !important; */
  width: 100%;
  left: 0;
  height: 50px;
}

body {
  background: url("./assets/cool-background.png");
}

@media (min-width: 768px) and (max-width: 1900px) {
.page-one {
  padding-top: 3cm !important;
  padding-bottom: 2.87cm !important;
}

.content{
  margin-top: 1cm !important;
}

.head-page-three{
  padding: 25px 0px 8px;
}

#project{
  margin-top: 2px;
}
}

@media (min-width: 1901px) {
.page-one {
  padding-top: 5cm !important;
  padding-bottom: 3.45cm !important;
}

.content{
  margin-top: 1cm !important;
}

.content-greetings{
  font-size: 30pt !important;
}

.content-name{
  font-size: 34pt !important;
}

.content-desc{
  font-size: 24pt !important;
}

.skill .row .col-sm-2 .image-skill{
  height: 150px;
  width: 150px;
}

.page-skill{
  /* padding-top: 10px; */
  margin: 30px 0px 43px !important;
}

.page-experience{
  margin: 26px 0px 45px !important;
  padding: 20px 0px 20px;
}

.page-project{
  margin: 30px 0px 45px !important;
  padding: 20px 0px 20px;
}

.experience-text {
  padding-top: 5px;
}

.header-page-two {
  margin: 20px 0px 17px;
  border: 2px solid black;
}

.header-page-three {
  margin: 40px 0px 17px;
  border: 2px solid black;
}

.page-experience > .row > div > img{
  width: 150px;
  height: 150px;
}

.page-experience > .row > .row > div > img{
  width: 150px;
  height: 150px;
}

.card-project > img{
  width: 80%;
}

.header-page-two{
  margin-top: 36px;
}
}

@media (max-width: 768px) {
.page-one {
  padding-top: 2cm !important;
  padding-bottom: 1.2cm !important;
  display: flex !important;
  flex-direction: column-reverse;
}

.header-page-two {
  margin: 40px 0px 40px;
  border: 2px solid black;
}

.skill .row .col-sm-2 .image-skill{
  height: 150px;
  width: 150px;
}

.page-skill{
  margin: 20px 0px 48px !important;
}

.page-experience{
  margin: 20px 0px 48px !important;
}

.page-project{
  margin: 20px 0px 48px !important;
}

.content-greetings {
  font-family: 'Poppin';
  font-size: 20pt;
  text-align: center !important;
  margin-top: 0.5cm !important;;
}

.head-page-three{
  padding: 35px 0px 8px;
}
}

.picture{
  margin-top: 40px !important;
}

.list {
  color: #F0F7F4 !important;
}

.list:hover {
  color: #aaaead !important;
}

.socmed-icon {
  color: #423e3b;
  margin-right: 40px;
}

.socmed-icon:hover {
  color: #767b79;
}

.profile-photo {
  margin-top: 2.5px;
}

.content-greetings {
  font-family: 'Poppin';
  font-size: 20pt;
}

.content-name {
  font-family: 'Poppins';
  font-size: 25pt;
  font-weight: bold;
}

.content-desc {
  font-family: 'Poppin';
  font-size: 16pt;
  text-align: justify;
}

.header-page-two {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20pt;
  border: 2px solid black;
}

.header-page-three {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20pt;
    border: 2px solid black;
}

.page-skill {
  margin: 32px 0px 32px;
  background-color: #423e3b;
  border-radius: 5px;
}

.page-experience {
  margin: 32px 0px 32px;
  background-color: #423e3b;
  border-radius: 5px;
}

.page-project {
  margin: 35px 0px 32px;
  background-color: #423e3b;
  border-radius: 5px;
}

.skill .row{
  overflow-x: auto;
  white-space: nowrap;
}
.skill > .row > .col-sm-2 {
  display: inline-block;
  float: none;
}

.project .row{
  overflow-x: auto;
  white-space: nowrap;
}
.project > .row > .col-sm-3 {
  display: inline-block;
  float: none;
}

.project > .row > .col-sm-3 > a {
  text-decoration: none !important;
}

.card-block {
  min-height: 300px;
}

.skill-text {
  font-family: 'Poppins';
  color: #ffffff;
}

.experience-text {
  font-family: 'Poppins';
  color: #ffffff;
}

.block {
  margin-bottom: 1.3cm !important;
}


@media (max-width : 768px) {
  .content-experience {
    font-size: 17pt !important;
    text-align: center !important;
    margin-top: -10px !important;
    margin-bottom: 20px !important;
  }

  .content-name {
    font-family: 'Poppins';
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
  }

  .socmed-icon {
    color: #423e3b;
    margin-right: 19px;
  }

  .icons {
    text-align: center;
  }

  .desc-project {
    color: #161616;
    font-family: 'Poppins';
    text-align: center !important;
    font-size: 10pt;
  }
}

.place-edu {
  font-family: 'Poppins';
  color: #FEA82F;
  font-weight: bold;
  font-size: 17pt;
}

.departement-edu {
  font-family: 'Patua';
  font-size: 16pt;
  color: #F0F7F4;
  font-weight: bold;
}

.type-edu {
  font-family: 'Noto';
  font-size: 15pt;
  color: #F0F7F4;
}

.card-project {
  background-color: #616463;
  border-radius: 5px;
}

.card-project:hover {
  background-color: #737975;
}

.header-project {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 17pt;
  color: #FEA82F;
}

.position-project {
  color: #F0F7F4;
  font-family: 'Nunito';
  font-size: 14pt;
}

.tech-stack {
  color: #F0F7F4;
  font-family: 'Patua';
  font-size: 14pt;
}

.desc-project {
  color: #161616;
  font-family: 'Poppins';
  text-align: justify;
  font-size: 12pt;
}

.typing-project{
  white-space: normal;
}

.content-work{
  justify-content: center;
}