@font-face {
  font-family: 'Poppins';
  src: "./assets/font/Poppins/Poppins-ExtraBold.ttf";
}

@font-face {
  font-family: 'Poppin';
  src: "./assets/font/Poppins/Poppins-Regular.ttf";
}

@font-face {
  font-family: 'Noto';
  src: "./assets/font/Noto_Sans/NotoSans-Regular.ttf";
}

@font-face {
  font-family: 'Patua';
  src: "./assets/font/Patua_One/PatuaOne-Regular.ttf";
}

.nav-top {
  background-color: #423e3b;
}

.content-nav {
  color: #F0F7F4 !important;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14pt;
  margin-right: 5px;
}

.content-nav:hover {
  color: #767b79 !important;
}

.content-nav:active {
  color: #fea82f !important;
  text-decoration: none;
}

body {
  background: url("./assets/cool-background.png");
}

.page-one {
  padding-top: 1.85cm !important;
  /* border: 2px solid black; */
}

.list {
  color: #F0F7F4 !important;
}

.list:hover {
  color: #aaaead !important;
}

.socmed-icon {
  color: #423e3b;
  margin-right: 40px;
}

.socmed-icon:hover {
  color: #767b79;
}

.profile-photo {
  margin-top: 2.5px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px -5px 5px #222);
}

.content-greetings {
  font-family: 'Poppin';
  font-size: 20pt;
}

.content-name {
  font-family: 'Poppins';
  font-size: 25pt;
  font-weight: bold;
}

.content-desc {
  font-family: 'Poppin';
  font-size: 16pt;
  text-align: justify;
}

.header-page-two {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20pt;
}

.header-page-two {
  border: 2px solid black;
}

.page-experience {
  background-color: #423e3b;
  border-radius: 5px;
}

.experience-text {
  font-family: 'Poppins';
  color: #ffffff;
}

.block {
  margin-bottom: 1.3cm !important;
}

@media (max-width : 768px) {
  .content-experience {
    font-size: 17pt !important;
    text-align: center !important;
    margin-top: -10px !important;
    margin-bottom: 20px !important;
  }

  .content-name {
    font-family: 'Poppins';
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
  }

  .socmed-icon {
    color: #423e3b;
    margin-right: 19px;
  }

  .icons {
    text-align: center;
  }

  .desc-project {
    color: #161616;
    font-family: 'Poppins';
    text-align: center;
    font-size: 10pt;
  }
}

.place-edu {
  font-family: 'Poppins';
  color: #FEA82F;
  font-weight: bold;
  font-size: 17pt;
}

.departement-edu {
  font-family: 'Patua';
  font-size: 16pt;
  color: #F0F7F4;
  font-weight: bold;
}

.type-edu {
  font-family: 'Noto';
  font-size: 15pt;
  color: #F0F7F4;
}

.card-project {
  background-color: #616463;
  border-radius: 5px;
}

.card-project:hover {
  background-color: #737975;
}

.header-project {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 15pt;
  color: #FEA82F;
}

.position-project {
  color: #F0F7F4;
  font-family: 'Nunito';
  font-size: 12pt;
}

.tech-stack {
  color: #F0F7F4;
  font-family: 'Patua';
  font-size: 12pt;
}

.desc-project {
  color: #161616;
  font-family: 'Poppins';
  text-align: justify;
  font-size: 10pt;
}